#Tramite_Detalles {
    margin-bottom: 3em
}

#form_tramite {
    margin-bottom: 1em
}

#form_tramite input {
    margin-bottom: 1em
}

#form_tramite button {
    margin-bottom: 1em
}

#login_buttons {
    margin-bottom: 2em
}

#tramites_mover {
    margin-bottom: 3em
}

#tramites_mover li {
    list-style: none
}

#mover {
    margin-bottom: 4em
}

#fisi a {
    color: #fff
}

#fisi button {
    background-color: #3f51b5
}

#nav {
    padding-left: 0;
    padding-right: 0
}

.btn {
    margin-left: 0
}

#button_detalles {
    margin-top: 2em;
    margin-bottom: 3em
}

#p_detalles {
    text-align: justify
}

body {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

body .pre-header {
    height: 3em;
    width: 100%;
    background-color: #303f9f;
    border: 1px solid #303f9f;
}

body .pre-header div {
    left: 5em;
    position: relative
}

body center h1 {
    bottom: .4em;
    position: relative;
    font-family: 'roboto';
    margin-top: 2em
}

body div {
    padding-left: 0;
    padding-right: 0;
}

body div nav {
    color: #fff;
    background-color: #303f9f;
}

body div nav ul {
    padding-top: 1.8em;
    padding-left: 3em;
    padding-bottom: 1.2em;
}

body div nav ul li {
    padding-bottom: 2em;
    margin-left: 2em;
    list-style: none;
    float: left;
}

body div nav ul li a {
    color: #c5cae9
}

body div nav ul li:hover a {
    color: #fff;
    text-decoration: none
}

body div nav ul li:hover {
    border-bottom: 6px solid #536dfe
}

body footer {
    background-color: #303f9f;
    padding-bottom: 4em;
}

body footer div {
    position: relative;
    margin-top: 2em
}

body footer #serviciosuniversitarios, body footer #lafacultad, body footer #Servicioalestaduante, body footer div {
    float: left;
    color: #fff;
    margin-left: 1em;
}

body footer #serviciosuniversitarios h4, body footer #lafacultad h4, body footer #Servicioalestaduante h4, body footer div h4 {
    border-bottom: 1px solid #b6b6b6;
    margin-top: 4px;
    position: relative
}

body footer #serviciosuniversitarios a, body footer #lafacultad a, body footer #Servicioalestaduante a, body footer div a {
    color: #fff
}