{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en"  ng-app="tramites">
<head>
    <meta charset="UTF-8">
    <title>SACT</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/jssor.slider.mini.js' %}"></script>
    <script src="{% static 'bower_components/angular/angular.js' %}" type="text/javascript"></script>
</head>

<body ng-cloak>

    <!-- Inicio cabezera -->
    <div class="pre-header col-xs-4">
        <div class="col-md-4" id="fisi">
            <a href="http://sistemas.unmsm.edu.pe/">
                <button class="btn">La Facultad</button>
            </a>
        </div>
    </div>

    <div id="nav" class="col-xs-12">
        {% block navegador %}


        {% endblock %}
    </div>
    <!-- FIN cabezera -->

    <!--<center><img src="{% static 'images/logo_fisi.png' %}" alt=""></center>-->

    <div class="col-xs-10 col-xs-offset-1">
        <center>
            <h1>
                Sistema automatico de consulta de tramite
            </h1>
        </center>
    </div>


<!-- Inicio Cuerpo -->
<header>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {% block cabezera %}{% endblock %}
    </div>
    <div class="col-md-2"></div>
</header>
<div  ng-controller="TramitesIndexCtrl" class="col-xs-12">
    {% block cuerpo %}{% endblock %}
</div>
<footer class="col-xs-12">

    <div class="col-md-10 col-md-offset-1">
        <div class="col-xs-3" id="lafacultad">
            <h4>LA FACULTAD</h4>
            <a href="http://sistemas.edu.pe/software/">EAP Ingeniería de Software</a><br>
            <a href="http://sistemas.edu.pe/sistemas/">EAP Ingeniería de Sistemas</a><br>
            <a href="http://sistemas.edu.pe/posgrado/">Posgrado</a><br>
            <a href="http://sistemas.edu.pe/ceups">CEUPS</a><br>
            <a href="http://sistemas.edu.pe/unidad/occa">OCCA</a>
        </div>

        <div class="col-xs-4" id="serviciosuniversitarios">
            <h4>SERVICIOS UNIVERSITARIOS</h4>
            <a href="http://sisbib.unmsm.edu.pe/">Sistemas de Bibliotecas</a><br>
            <a href="http://unmsm.edu.pe/occaa/">Calidad Academica OCCA</a><br>
            <a href="http://ccsm-unmsm.edu.pe/">Centro Cultural</a><br>
            <a href="http://clinica.unmsm.edu.pe/clinica/">Clinica Universitaria</a><br>
            <a href="http://ogbu.unmsm.edu.pe/">Bolsa de Trabajo</a>
        </div>
        <div class="col-xs-4" id="Servicioalestudiante">
            <h4>SERVICIO AL ESTUDIANTE</h4>
            <a href="http://sistemas.edu.pe/unidad/unayoe">UNAYOE</a><br>
            <a href="http://sistemas.edu.pe/bolsa-de-trabajo">Bolsa de Trabajo</a><br>
            <a href="http://sistemas.edu.pe/biblioteca/">Biblioteca</a><br>
            <a href="http://sistemas.edu.pe/unidad/bienstar">Unidad de Bienestar</a>

        </div>

    </div>
</footer>




<script src="{% static 'bower_components/angular-route/angular-route.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}" type="text/javascript"></script>

<script src="{% static 'webapp/app.js' %}" type="text/javascript"></script>
</body>
</html>