{% extends 'index.html' %}
{% block cuerpo %}
    <div class="col-md-8 col-md-offset-3">
        <li>Nombre Trámite: {{ object.tramite }}</li>
        <li>Usuario: {{ object.usuario }}</li>
        <li>Oficina: {{ object.oficina }}</li>
        <li>Estado: {{ object.estado }}</li>
    </div>
{% endblock %}